@model object
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    @RenderSection("Head", required: false)

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css" asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>


    @RenderSection("SEO", required: false)
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="button navbar-brand btn">blog</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/about-pages">pages</a></li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li><a href="https://github.com/bradygaster/downr">github</a></li>
                    <li><a href="/feed/rss">rss</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="row">
            <div role="main" class="col-md-8">

                @RenderBody()
            </div>
            <aside role="complementary" class="col-md-3 col-md-offset-1">
                <section>
                    <h2>
                        about downr
                    </h2>
                    <p>
                        <a href="http://github.com/bradygaster/downr">downr</a> is a simple blogging engine written using dotnet core and markdown.
                    </p>
                </section>
                @if (ViewBag.TagCloud != null)
            {
                <section>
                    <div class="panel panel-default">
                        <div class="panel-heading">Tags</div>
                        <div class="panel-body">
                            <ul class="list-group">
                                @foreach (var tag in ViewBag.TagCloud)
                                    {
                                    <a href="/category/@tag.Key" class="list-group-item">
                                        <span class="badge">@tag.Value</span> @tag.Key
                                    </a>
                                    }
                            </ul>
                        </div>
                    </div>
                </section>
                }
            </aside>
        </div>
    </div>
    <div class="container">
        <div class="col-md-8 well">
            <div class="col-md-4">
                @if (!String.IsNullOrEmpty(ViewBag.Previous))
                {
                    string prevLink = string.Format("/posts/{0}", ViewBag.Previous);
                    <a href="@prevLink" title="@ViewBag.PreviousTitle" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-left"></span> previous post</a>                }
            </div>
            <div class="col-md-4 pull-right">
                @if (!String.IsNullOrEmpty(ViewBag.Next))
                {
                    string nextLink = string.Format("/posts/{0}", ViewBag.Next);
                    <a href="@nextLink" title="@ViewBag.NextTitle" class="btn btn-primary pull-right">next post <span class="glyphicon glyphicon-chevron-right"></a>                }
            </div>
        </div>
    </div>
    <div class="container">
        <footer>
            <hr />
            <p>&copy; 2016 built with <a href="#">downr</a></p>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.3.min.js" asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js" asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>

</html>