@using downr.Models
@model downr.Models.Metadata[]

@foreach(var post in Model)
{
    <a id="@post.Slug"></a>

    <h1>Page</h1>

    <h2>@post.Title</h2>

    <h3>Excerpt:</h3>
    <p>
        @post.Content.StripHtml().Excerpt(50);
    </p>

    <h3>Info bar:</h3>
    <div class="well post-meta">
        <a href="/@post.Slug" class="btn btn-primary"><span class="glyphicon glyphicon-link"></span> @post.PublicationDate.ToLocalTime().ToString("yyyy-MM-dd")</a>    @foreach(var category in post.Categories) {
        <a href="/category/@category" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-pushpin"></span> @category</a>    }
    </div>

    <h3>Content:</h3>
    @Html.Raw(post.Content)

    <hr size="1" />
}