@model downr.Models.Metadata

@section Head {
    @await Component.InvokeAsync("Metadata", new { metadata = Model })
    @await Component.InvokeAsync("OpenGraph", new { metadata = Model })
}

<a id="@Model.Slug"></a>

<h2>@Model.Title</h2>

<div class="well post-meta">
    <a href="@Model.Slug" class="btn btn-primary">
    <span class="glyphicon glyphicon-link"></span>
    @Model.PublicationDate.ToLocalTime().ToString("yyyy-MM-dd")</a>
    @foreach (var category in Model.Categories)
    {
        <a href="/category/@category" class="btn btn-primary pull-right">
            <span class="glyphicon glyphicon-pushpin"></span>@category
        </a>    
    }
</div>

@Html.Raw(Model.Content)

@if (!String.IsNullOrEmpty(ViewBag.Previous) || !String.IsNullOrEmpty(ViewBag.Next)) 
{
<div class="well post-meta">
    @if (!String.IsNullOrEmpty(ViewBag.Previous))
    {
        string prevLink = string.Format("{0}", ViewBag.Previous);
        <a href="@prevLink" title="@ViewBag.PreviousTitle" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-left"></span> previous post</a>
    }
    @if (!String.IsNullOrEmpty(ViewBag.Next))
    {
        string nextLink = string.Format("{0}", ViewBag.Next);
        <a href="@nextLink" title="@ViewBag.NextTitle" class="btn btn-primary pull-right">next post <span class="glyphicon glyphicon-chevron-right"></span></a>                
    }
</div>
}