@model downr.Models.Metadata

@section Head {
    @await Component.InvokeAsync("Metadata", new { metadata = Model })
    @await Component.InvokeAsync("OpenGraph", new { metadata = Model })
}

<a id="@Model.Slug"></a>

<h2>@Model.Title</h2>

<div class="well post-meta">
    <a href="/@Model.Slug" class="btn btn-primary"><span class="glyphicon glyphicon-link"></span> @Model.PublicationDate.ToLocalTime().ToString("yyyy-MM-dd")</a>    @foreach(var category in Model.Categories) {
    <a href="/category/@category" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-pushpin"></span> @category</a>    }
</div>

@Html.Raw(Model.Content)

<hr size="1" />