@model downr.Models.Metadata

<h2>@Model.Title</h2>

<div class="well post-meta">
    <a href="@Model.PublicationDate" class="btn btn-primary"><span class="glyphicon glyphicon-link"></span> @Model.PublicationDate.ToLocalTime().ToString("yyyy-MM-dd")</a>

    @foreach(var category in Model.Categories) {
        <a href="/category/@category" class="btn btn-primary pull-right">@category</a>
    }
</div>

@Html.Raw(@ViewBag.HtmlContent)